<p>new-application works!</p>

<div id="app creation">
<label for="position">Position Title</label>
<input type="text" class="newApp" id="position" #position>

<label for="company">Company</label>
<input type="text" class="newApp" id="company" #company>

<label for="city">City</label>
<input type="text" class="newApp" id="city" #city>

<label for="state">State</label>
<input type="text" class="newApp" id="state" #state>

<label for="country">Country</label>
<input type="text" class="newApp" id="country" #country>

<label for="compNotes">Notes about the employer</label>
<input type="text" class="newApp" id="compNotes" #compNotes>

<label for="resume">Resume required?</label>
<input type="text" class="newApp" id="resume" #resume>

<label for="coverletter">Coverletter required?</label>
<input type="text" class="newApp" id="coverletter" #coverletter>

<label for="appNotes">Notes</label>
<input type="text" class="newApp" id="appNotes" #appNotes>

<label for="extras">Extra materials requested?</label>
<input type="text" class="newApp" id="extras" #extras>

<label for="extraMaterial">Extra Materials</label>
<input type="text" class="newApp" id="extraMaterial" #extraMaterial>

<label for="submitted">Submitted Application</label>
<input type="text" class="newApp" id="submitted" #submitted>

<label for="contact">In contact with employer?</label>
<input type="text" class="newApp" id="contact" #contact>

<label for="result">Result</label>
<input type="text" class="newApp" id="result" #result>

<label for="git">Rgithub requested?</label>
<input type="text" class="newApp" id="git" #git>

<button type="button" (click)="newApp(position.value, company.value, city.value, state.value, country.value, compNotes.value, resume.value, coverletter.value, git.value, appNotes.value, extras.value, extraMaterial.value, submitted.value, contact.value, result.value)">Submit</button>
</div>