<p>signup works!</p>

<label for="name">Name:</label>
<input type="text" id="name" #name>

<label for="email">Email Address:</label>
<input type="email" id="email" #email>

<label for="username">Username:</label>
<input type="text" id="username" #username>

<label for="pw">Password:</label>
<input type="password" id="pw" #password>

<label for="age">Age:</label>
<input type="text" id="age" #age>

<button type="button" (click)="register(name.value, username.value, email.value, password.value, age.value)">Register</button>

<button type="button" routerLink="/login">Click here to sign in</button>