
<div class="userData">
    <input type="text" id="name" placeholder="Name" #name>
    <input type="email" id="email" placeholder="Email Address" #email>
    <input type="text" id="username" placeholder="Username" #username>
    <input type="password" id="pw" placeholder="Password" #password>
    <input type="text" id="age" placeholder="Age" #age>
</div>

<div class="loginButtons">
    <button type="button" (click)="register(name.value, username.value, email.value, password.value, age.value)">Register</button>
    <button type="button" routerLink="/login">Click here to sign in</button>
</div>