<p>edit-app works!</p>

<div *ngIf="application">
    <h1>{{application.position}}, {{application.companyName}}</h1>
    <input id="position" [(ngModel)]="application.position">
    <input id="compName" [(ngModel)]="application.companyName">

    <h2>{{application.city}}, {{application.state}}, {{application.country}}</h2>
    <input id="city" [(ngModel)]="application.city">
    <input id="state" [(ngModel)]="application.state">
    <input id="country" [(ngModel)]="application.country">

    <p>Notes: {{application.appNotes}}</p>
    <input id="notes" [(ngModel)]="application.appNotes">

    <div id="status">
        <p>Applied yet?:</p>
        <input id="appyet" [(ngModel)]="application.applied">
        <p>In contact/Communicating?:</p>
        <input id="contact" [(ngModel)]="application.contact">
        <p>Outcome:</p>
        <input id="state" [(ngModel)]="application.result">
    </div>

    <div id="materials">
        <p>Resume:</p>
        <input id="state" [(ngModel)]="application.resume">
        <p>Cover letter:</p>
        <input id="state" [(ngModel)]="application.coverletter">
        <p>Github:</p>
        <input id="state" [(ngModel)]="application.github">
        <p>Supplemental material:</p>
        <input id="state" [(ngModel)]="application.extras">
        <p *ngIf="application.materials">       {{application.materials}}</p>
    </div>

    <div id="dates">
        <p>Applied on: {{application.appliedOn | date: 'longDate'}}</p>
        <p>Deadline: {{application.deadline | date: 'longDate'}}</p>
        <p>Most Recent Communication/Update: {{application.recentCommunication | date: 'longDate'}}</p>
        <p>Finalized on: {{application.finalizedDate | date: 'longDate'}}</p>
    </div>
</div>

<div *ngIf="route == 'new'">
    <label for="position">Position: </label>
    <input id="position" #position>
    <input id="compName" #companyName>

    <input id="city" #city>
    <input id="state" #state>
    <input id="country" #country>

    <input id="notes" #appNotes>

    <div id="status">
        <input id="appyet" #applied>
        <input id="contact" #contact>
        <input id="state" #result>
    </div>

    <div id="materials">
        <p>Resume:</p>
        <input id="state" #resume>
        <p>Cover letter:</p>
        <input id="state" #coverletter>
        <p>Github:</p>
        <input id="state" #github>
        <p>Supplemental material:</p>
        <input id="state" #extras>
    </div>

    <div id="dates">
        <!-- <p>Applied on: {{application.appliedOn | date: 'longDate'}}</p>
        <p>Deadline: {{application.deadline | date: 'longDate'}}</p>
        <p>Most Recent Communication/Update: {{application.recentCommunication | date: 'longDate'}}</p>
        <p>Finalized on: {{application.finalizedDate | date: 'longDate'}}</p> -->
    </div>
</div>